In [ ]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt


FOLDER_DATA = "./data"
FILE_SERVICE_AREAS_SHP = f"{FOLDER_DATA}/ServiceAreas_4.shp"
FILE_DEMAND_205_CENTROID_UNIFORM_CSV = f"{FOLDER_DATA}/SF_demand_205_centroid_uniform_weight.csv"


def get_points(df: pd.DataFrame) -> gpd.GeoSeries:
    return gpd.points_from_xy(df["long"], df["lat"])

def as_gdf(df: pd.DataFrame) -> gpd.GeoDataFrame:
    return gpd.GeoDataFrame(df, geometry=get_points(df))

def process_df(df: pd.DataFrame, sort_by: str = "NAME") -> gpd.GeoDataFrame:
    gdf = as_gdf(df)
    if sort_by in gdf.columns:
        gdf = gdf.sort_values(by=[sort_by])
    return gdf.reset_index(drop=True)

def get_clis_geometry(clis: pd.DataFrame) -> gpd.GeoDataFrame:
    return gpd.GeoDataFrame(clis['geometry'])

def plot_results_on_map(
        clis: pd.DataFrame,
        study_area: gpd.GeoDataFrame,
        zorder_clis: int = 4,
        markersize: int = 40,
        zorder_study_area: int = 1,
        figsize: tuple[int, int] = (6, 9),
    ) -> None:

    _, ax = plt.subplots(figsize=figsize)
    
    clis_processed = process_df(clis.copy())

    study_area.plot(
    ax=ax,
    alpha=0.5,
    edgecolor="k",
    facecolor="tan",
    zorder=zorder_study_area,
    )

    clis_processed.plot(
    ax=ax,
    edgecolor="k",
    zorder=zorder_clis,
    markersize=markersize,
    )

    ax.set_title("Demand Points over Study Area")
    ax.set_xlabel("Longitude"); ax.set_ylabel("Latitude")
    plt.xticks(rotation=45); plt.show()

In [3]:
map_area = gpd.read_file(filename=FILE_SERVICE_AREAS_SHP).dissolve()
demand_points = pd.read_csv(filepath_or_buffer=FILE_DEMAND_205_CENTROID_UNIFORM_CSV)

n_demand_points = demand_points.shape[0]
print(f"Number of demand points: {n_demand_points}")

demand_points.head(10)

Number of demand points: 205

,Unnamed: 0,OBJECTID,ID,NAME,STATE_NAME,AREA,POP2000,HOUSEHOLDS,HSE_UNITS,BUS_COUNT,long,lat
0,1,1,6081602900,60816029.00,California,0.48627,4135,1679,1715,112,-122.488653,37.650807
1,2,2,6081602800,60816028.00,California,0.47478,4831,1484,1506,59,-122.483550,37.659998
2,3,3,6081601700,60816017.00,California,0.46393,4155,1294,1313,55,-122.456484,37.663272
3,4,4,6081601900,60816019.00,California,0.81907,9041,3273,3330,118,-122.434247,37.662385
4,5,5,6081602500,60816025.00,California,0.46603,5146,1459,1467,44,-122.451187,37.640219
5,6,6,6081602700,60816027.00,California,0.70165,5539,1794,1830,56,-122.475987,37.650538
6,7,7,6081601800,60816018.00,California,0.72772,5590,1890,1916,84,-122.446384,37.655438
7,8,8,6081601603,60816016.03,California,0.46111,6316,1853,1894,43,-122.461811,37.655018
8,9,9,6081602400,60816024.00,California,1.05237,6511,2622,2658,196,-122.433696,37.643439
9,10,10,6081601605,60816016.05,California,0.36667,6588,1670,1682,51,-122.469954,37.657207

In [10]:
import math
import random

In [13]:
demand_points_long, demand_points_lat = demand_points["long"].tolist(), demand_points["lat"].tolist()
coordinates = list(zip(demand_points_long, demand_points_lat))
points = coordinates.copy()
points[:5]

[(-122.488653101, 37.650807231),
 (-122.483549889, 37.659997767),
 (-122.45648443, 37.6632719620001),
 (-122.434247352, 37.6623845190001),
 (-122.451187058, 37.6402194380001)]

In [14]:
random.shuffle(points)
points[:5]

[(-122.403229742, 37.7755524890001),
 (-122.478725246, 37.7832884260001),
 (-122.421465772, 37.7376608920001),
 (-122.4532921, 37.750952284),
 (-122.431012333, 37.759761826)]

In [15]:
a, b = points[0], points[1]
a, b

((-122.403229742, 37.7755524890001), (-122.478725246, 37.7832884260001))

In [17]:
x = (4, 0)
y = (0, 3)
math.hypot(x[0]-x[1], y[0] - y[1])

5.0